@font-face {
  font-family: "Circe Bold";
  src: url("../fonts/circe_bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/circe_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_bold.woff2") format("woff2"), url("../fonts/circe_bold.woff") format("woff"), url("../fonts/circe_bold.ttf") format("truetype"), url("../fonts/circe_bold.svg#circe_bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Circe ExtraBold";
  src: url("../fonts/circe_extrabold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/circe_extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_extrabold.woff2") format("woff2"), url("../fonts/circe_extrabold.woff") format("woff"), url("../fonts/circe_extrabold.ttf") format("truetype"), url("../fonts/circe_extrabold.svg#circe_extrabold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Circe Light";
  src: url("../fonts/circe_light.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/circe_light.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_light.woff2") format("woff2"), url("../fonts/circe_light.woff") format("woff"), url("../fonts/circe_light.ttf") format("truetype"), url("../fonts/circe_light.svg#circe_light") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/circe.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/circe.eot?#iefix") format("embedded-opentype"), url("../fonts/circe.woff2") format("woff2"), url("../fonts/circe.woff") format("woff"), url("../fonts/circe.ttf") format("truetype"), url("../fonts/circe.svg#circe") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Manrope Medium";
  src: url("../fonts/manrope_medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/manrope_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope_medium.woff2") format("woff2"), url("../fonts/manrope_medium.woff") format("woff"), url("../fonts/manrope_medium.ttf") format("truetype"), url("../fonts/manrope_medium.svg#manrope_medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer, .header {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
}

.footer-container, .header-container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.footer-nav__link, .contacts-phone, .nav-list__link, .footer-btn__link-button, .nav-list__link-button {
  font-family: "Circe";
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #263057;
}

.footer-btn__link-button, .nav-list__link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 30px;
}

.header {
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 158px;
  height: 95px;
  margin-right: 26px;
}

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item {
  margin-right: 26px;
}
.nav-list__item:last-child {
  margin-right: 0;
}

.link-phone {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: 15px 17px;
  grid-template-areas: "link-phone-icon link-phone-number" "link-phone-icon link-phone-label";
  width: 172px;
}

.link-phone__icon {
  grid-area: link-phone-icon;
  width: 33px;
  height: 29px;
  margin-top: -4px;
  background: url("../assets/icons/phone.svg") center no-repeat;
}

.link-phone__number {
  grid-area: link-phone-number;
  font-family: "Circe";
  font-size: 17px;
  font-weight: 700;
}

.link-phone__label {
  grid-area: link-phone-label;
  font-size: 14px;
  letter-spacing: 0.28em;
}

.nav-list__link-button.nav-list__link-button_color_light-blue {
  width: 172px;
  height: 34px;
  background-color: #6984f0;
  font-size: 15px;
}
.nav-list__link-button.nav-list__link-button_color_blue {
  width: 148px;
  height: 34px;
  background-color: #263057;
  font-size: 15px;
}

.footer, .header {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
}

.footer-container, .header-container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.footer-nav__link, .contacts-phone, .footer-btn__link-button, .nav-list__link, .nav-list__link-button {
  font-family: "Circe";
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #263057;
}

.footer-btn__link-button, .nav-list__link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 30px;
}

.footer {
  background: linear-gradient(136.49deg, #263057 25.34%, #1d1444 89.06%);
  border-radius: 0 0 15px 15px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 57px 80px 81px 37px;
  grid-template-areas: "f-nav  f-btns" "f-nav  f-contacts" ". ." "f-info  f-info";
  padding: 101px 0 55px;
}

.footer-nav {
  grid-area: f-nav;
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  row-gap: 14px;
  padding-top: 5px;
}

.footer-btns {
  grid-area: f-btns;
  display: flex;
  gap: 20px;
  padding-left: 109px;
}

.footer-contacts {
  grid-area: f-contacts;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  padding-left: 119px;
}

.contacts-phone {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.contacts-phone__icon {
  width: 12px;
  height: 19px;
  background: url("../assets/icons/phone_white.svg") center no-repeat;
  background-size: contain;
}

.contacts-phone__number {
  font-size: 18px;
  font-weight: 700;
  padding-left: 11px;
}

.contacts-phone__label {
  font-size: 14px;
  opacity: 0.5;
  padding-left: 13px;
}

.footer-contacts__icon {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

.footer-nav__link {
  width: 33.33%;
  color: #ffffff;
  font-size: 20px;
}

.footer-nav__link:nth-child(3n) {
  padding-left: 55px;
}

.footer-btn__link-button.footer-btn__link-button_color_light-blue {
  width: 206px;
  height: 39px;
  background-color: #6984f0;
  font-size: 18px;
}
.footer-btn__link-button.footer-btn__link-button_color_blue {
  width: 178px;
  height: 39px;
  background-color: #ffffff;
  font-size: 18px;
  color: #263057;
}

.footer-info {
  grid-area: f-info;
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  color: #ffffff;
  line-height: 140%;
  opacity: 0.5;
}

.footer-info__logo {
  width: 146px;
  height: 18px;
  opacity: 1;
}
.footer-info__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-info__company {
  width: 200px;
}

.footer-info__info {
  width: 100%;
  max-width: 600px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Circe";
  font-size: 14px;
  background: #e5e5e5;
}