@charset "UTF-8";
@font-face {
  font-family: "Circe Bold";
  src: url("../fonts/circe_bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/circe_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_bold.woff2") format("woff2"), url("../fonts/circe_bold.woff") format("woff"), url("../fonts/circe_bold.ttf") format("truetype"), url("../fonts/circe_bold.svg#circe_bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Circe ExtraBold";
  src: url("../fonts/circe_extrabold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/circe_extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_extrabold.woff2") format("woff2"), url("../fonts/circe_extrabold.woff") format("woff"), url("../fonts/circe_extrabold.ttf") format("truetype"), url("../fonts/circe_extrabold.svg#circe_extrabold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Circe Light";
  src: url("../fonts/circe_light.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/circe_light.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_light.woff2") format("woff2"), url("../fonts/circe_light.woff") format("woff"), url("../fonts/circe_light.ttf") format("truetype"), url("../fonts/circe_light.svg#circe_light") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/circe.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/circe.eot?#iefix") format("embedded-opentype"), url("../fonts/circe.woff2") format("woff2"), url("../fonts/circe.woff") format("woff"), url("../fonts/circe.ttf") format("truetype"), url("../fonts/circe.svg#circe") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Manrope Medium";
  src: url("../fonts/manrope_medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/manrope_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope_medium.woff2") format("woff2"), url("../fonts/manrope_medium.woff") format("woff"), url("../fonts/manrope_medium.ttf") format("truetype"), url("../fonts/manrope_medium.svg#manrope_medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.news, .about-company, .tariffs, .showcase, .footer, .header {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px;
}

.about-company__container, .tariffs-container, .showcase-container, .footer-container, .header-container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.footer-nav__link, .contacts-phone, .nav-list__link, .news__link-button,
.about-company__link-button, .tariffs__link-button, .showcase__link-button, .footer-btn__link-button, .nav-list__link-button {
  text-decoration: none;
}

.news__link-button,
.about-company__link-button, .tariffs__link-button, .showcase__link-button, .footer-btn__link-button, .nav-list__link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 30px;
}
.news__link-button:hover,
.about-company__link-button:hover, .tariffs__link-button:hover, .showcase__link-button:hover, .footer-btn__link-button:hover, .nav-list__link-button:hover {
  opacity: 0.8;
}

.additional-services__btn, .item-options__btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.additional-services__btn:hover, .item-options__btn:hover {
  opacity: 0.8;
}

.news__title, .about-company__title, .item-options__title, .tariffs__title, .showcase__text, .showcase__title {
  font-size: 62px;
  line-height: 88%;
  font-weight: 700;
  color: #253058;
}

.header {
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.logo {
  height: 95px;
  margin-right: 26px;
}

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-nav {
  flex: 1 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item {
  margin-right: 26px;
  text-align: center;
}
.nav-list__item:last-child {
  margin-right: 0;
}

.nav-list__link {
  font-size: 18px;
  color: #263057;
}

.link-phone {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: 15px 17px;
  grid-template-areas: "link-phone-icon link-phone-number" "link-phone-icon link-phone-label";
  width: 172px;
  text-align: left;
}

.link-phone__icon {
  grid-area: link-phone-icon;
  width: 33px;
  height: 29px;
  margin-top: -4px;
  background: url("../assets/icons/phone.svg") center no-repeat;
}

.link-phone__number {
  grid-area: link-phone-number;
  margin-left: -2px;
  font-size: 17px;
  font-weight: 700;
}

.link-phone__label {
  grid-area: link-phone-label;
  font-size: 14px;
  letter-spacing: 0.28em;
}

.nav-list__link-button.nav-list__link-button_color_light-blue {
  width: 172px;
  height: 34px;
  background-color: #6984f0;
  font-size: 15px;
}
.nav-list__link-button.nav-list__link-button_color_blue {
  width: 148px;
  height: 34px;
  background-color: #263057;
  font-size: 15px;
}

@media (max-width: 1180px) {
  .header-container {
    padding: 10px 0;
  }

  .header-nav {
    flex: 1 1 auto;
    margin-left: auto;
    max-width: 580px;
  }

  .nav-list {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .nav-list__item {
    margin-bottom: 25px;
  }
  .nav-list__item:nth-child(n+4) {
    margin-bottom: 0;
  }
}
@media (max-width: 1024px) {
  .nav-list {
    flex: 1 1 auto;
    flex-wrap: wrap;
  }
}
.news, .about-company, .tariffs, .showcase, .footer, .header {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px;
}

.about-company__container, .tariffs-container, .showcase-container, .footer-container, .header-container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.footer-nav__link, .contacts-phone, .news__link-button,
.about-company__link-button, .tariffs__link-button, .showcase__link-button, .footer-btn__link-button, .nav-list__link, .nav-list__link-button {
  text-decoration: none;
}

.news__link-button,
.about-company__link-button, .tariffs__link-button, .showcase__link-button, .footer-btn__link-button, .nav-list__link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 30px;
}
.news__link-button:hover,
.about-company__link-button:hover, .tariffs__link-button:hover, .showcase__link-button:hover, .footer-btn__link-button:hover, .nav-list__link-button:hover {
  opacity: 0.8;
}

.additional-services__btn, .item-options__btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.additional-services__btn:hover, .item-options__btn:hover {
  opacity: 0.8;
}

.news__title, .about-company__title, .item-options__title, .tariffs__title, .showcase__text, .showcase__title {
  font-size: 62px;
  line-height: 88%;
  font-weight: 700;
  color: #253058;
}

.footer {
  background: linear-gradient(136.49deg, #263057 25.34%, #1d1444 89.06%);
  border-radius: 0 0 15px 15px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 57px 80px 81px 37px;
  grid-template-areas: "f-nav  f-btns" "f-nav  f-contacts" ". ." "f-info  f-info";
  padding: 101px 0 55px;
}

.footer-nav {
  grid-area: f-nav;
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  row-gap: 14px;
  padding-top: 5px;
}

.footer-btns {
  grid-area: f-btns;
  display: flex;
  gap: 20px;
  padding-left: 109px;
}

.footer-contacts {
  grid-area: f-contacts;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  padding-left: 119px;
}

.contacts-phone {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.contacts-phone__icon {
  width: 12px;
  height: 19px;
  background: url("../assets/icons/phone_white.svg") center no-repeat;
  background-size: contain;
}

.contacts-phone__number {
  font-size: 18px;
  font-weight: 700;
  padding-left: 11px;
}

.contacts-phone__label {
  font-size: 14px;
  opacity: 0.5;
  padding-left: 13px;
}

.footer-contacts__icon {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

.footer-nav__link {
  width: 33.33%;
  color: #ffffff;
  font-size: 20px;
}

.footer-nav__link:nth-child(3n) {
  padding-left: 55px;
}

.footer-btn__link-button.footer-btn__link-button_color_light-blue {
  width: 206px;
  height: 39px;
  background-color: #6984f0;
  font-size: 18px;
}
.footer-btn__link-button.footer-btn__link-button_color_blue {
  width: 178px;
  height: 39px;
  background-color: #ffffff;
  font-size: 18px;
  color: #263057;
}

.footer-info {
  grid-area: f-info;
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  color: #ffffff;
  line-height: 140%;
  opacity: 0.5;
}

.footer-info__logo {
  width: 146px;
  height: 18px;
  opacity: 1;
}
.footer-info__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-info__company {
  width: 200px;
}

.footer-info__info {
  width: 100%;
  max-width: 600px;
}

.news, .about-company, .tariffs, .showcase, .header, .footer {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px;
}

.about-company__container, .tariffs-container, .showcase-container, .header-container, .footer-container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.news__link-button,
.about-company__link-button, .tariffs__link-button, .showcase__link-button, .nav-list__link, .nav-list__link-button, .contacts-phone, .footer-nav__link, .footer-btn__link-button {
  text-decoration: none;
}

.news__link-button,
.about-company__link-button, .tariffs__link-button, .showcase__link-button, .nav-list__link-button, .footer-btn__link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 30px;
}
.news__link-button:hover,
.about-company__link-button:hover, .tariffs__link-button:hover, .showcase__link-button:hover, .nav-list__link-button:hover, .footer-btn__link-button:hover {
  opacity: 0.8;
}

.additional-services__btn, .item-options__btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.additional-services__btn:hover, .item-options__btn:hover {
  opacity: 0.8;
}

.news__title, .about-company__title, .item-options__title, .tariffs__title, .showcase__text, .showcase__title {
  font-size: 62px;
  line-height: 88%;
  font-weight: 700;
  color: #253058;
}

.showcase {
  background: linear-gradient(136.49deg, #263057 25.34%, #1d1444 89.06%);
  padding: 43px 100px;
}

.showcase-container {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 140px 0 48px 60px;
  height: 450px;
}

.showcase__text {
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 28px;
}

.showcase__link-button {
  width: 222px;
  height: 47px;
  background-color: #6984f0;
  font-size: 20px;
  font-weight: 700;
}

.showcase__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 530px;
  height: 468px;
  background: url("../assets/images/showcase_big.png") center no-repeat;
}

.showcase-slider {
  position: absolute;
  bottom: 48px;
  right: calc(50% - 24px);
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: 14px;
  height: 9px;
  width: 73px;
}

.showcase-slider__item {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: rgba(38, 48, 87, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.showcase-slider__item.showcase-slider__item_active {
  width: 28px;
  border-radius: 10px;
  background-color: #6984f0;
}

/**
Section tariffs
**/
.tariffs {
  padding: 62px 100px 32px;
}

.tariffs__title {
  margin-bottom: 34px;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.tariffs-container {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 602px;
  padding: 52px 40px 23px 40px;
  margin-bottom: 47px;
}

.services {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 0 0 49px 73px;
}

.services__btn {
  position: relative;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  font-family: "Circe";
  font-size: 20px;
  line-height: 140%;
  color: #263057;
}
.services__btn.active {
  font-weight: 700;
}
.services__btn.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 103%;
  height: 2px;
  background-color: #6984f0;
}

.services__btn_internet {
  margin-right: 82px;
}

.services__btn_cable {
  margin-right: 102px;
}
.services__btn_cable::before {
  content: "ХИТ";
  position: absolute;
  top: 3px;
  right: -60px;
  width: 25px;
  height: 18px;
  padding: 2px 10px 0px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background-color: #6984f0;
  border-radius: 10px;
}

.services__btn_smart {
  margin-right: 52px;
}

.options {
  display: flex;
  gap: 27px;
}

.options__item {
  width: 191px;
  height: 323px;
  padding: 57px 0 0 0;
  border-radius: 30px;
  color: #263057;
}
.options__item.active {
  position: relative;
  width: 228px;
  padding: 57px 19px 0 19px;
  color: #ffffff;
  background: linear-gradient(180deg, #273158 0%, #0c244d 100%);
}
.options__item.active .item-options__title {
  color: #ffffff;
}
.options__item.active .item-options__details::after {
  background: url("../assets/icons/carbon_popup_white.svg");
}
.options__item.active::before {
  content: "ХИТ";
  position: absolute;
  top: 23px;
  left: 18px;
  width: 25px;
  height: 18px;
  padding: 2px 10px 0px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #263158;
  background-color: #fff;
  border-radius: 10px;
}

.item-options__title {
  font-size: 30px;
  line-height: 44px;
}

.item-options__speed {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 3px;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
}
.item-options__speed:before {
  content: "";
  width: 22px;
  height: 22px;
  background: url("../assets/icons/speed.svg");
}

.item-options__details {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 14px 0 17px 0;
  font-size: 18px;
  border-bottom: 1px solid rgba(38, 48, 87, 0.2);
}
.item-options__details::after {
  content: "";
  width: 14px;
  height: 14px;
  background: url("../assets/icons/carbon_popup.svg");
}

.item-options__price {
  padding: 17px 0 16px 0;
  font-size: 30px;
  font-weight: 700;
}
.item-options__price span {
  font-size: 18px;
}

.item-options__btn {
  width: 191px;
  height: 35px;
  background-color: #6984f0;
  font-size: 18px;
  color: #ffffff;
  border-radius: 30px;
}

.tariffs-slider {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin: 0 auto;
  padding: 37px 0 45px;
  height: 9px;
  width: 54px;
}

.tariffs-slider__item {
  width: 9px;
  height: 9px;
  background: rgba(38, 48, 87, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.tariffs-slider__item.active {
  background-color: #6984f0;
}

.tariffs__link-button {
  width: 264px;
  height: 45px;
  background-color: #6984f0;
  font-size: 18px;
  margin: 0 auto;
}

.additional-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 200px;
  padding: 22px 59px 27px 79px;
  margin-bottom: 20px;
  background: linear-gradient(92.37deg, #263057 29.38%, #1d1444 100.81%);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #ffffff;
}
.additional-services.additional-services_help {
  justify-content: space-between;
  gap: 0;
  padding: 31px 59px 27px 79px;
}
.additional-services.additional-services__speed-test {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
}

.additional-services__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 116%;
}

.additional-services__btn {
  width: 221px;
  height: 48px;
  background-color: #6984f0;
  font-size: 18px;
  color: #ffffff;
  border-radius: 60px;
}

.additional-services__form {
  display: flex;
}

.additional-services__input {
  height: 49px;
  width: 100%;
  max-width: 390px;
  padding: 0 0 0 25px;
  margin-right: 19px;
  border-radius: 5px;
  font-size: 18px;
  color: #263057;
}

.additional-services__input_name::-moz-placeholder {
  background: url("../assets/icons/what_is_your_name.png") no-repeat;
}

.additional-services__input_name:-ms-input-placeholder {
  background: url("../assets/icons/what_is_your_name.png") no-repeat;
}

.additional-services__input_name::placeholder {
  background: url("../assets/icons/what_is_your_name.png") no-repeat;
}

.additional-services__input_phone::-moz-placeholder {
  background: url("../assets/icons/+7 (___) ___-__-__ _.png") no-repeat;
}

.additional-services__input_phone:-ms-input-placeholder {
  background: url("../assets/icons/+7 (___) ___-__-__ _.png") no-repeat;
}

.additional-services__input_phone::placeholder {
  background: url("../assets/icons/+7 (___) ___-__-__ _.png") no-repeat;
}

.additional-services__input-agreement {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.additional-services__input-agreement input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #fff;
  width: 13px;
  height: 13px;
  background-color: inherit;
  border: 1px solid #ffffff;
  border-radius: 2px;
  transform: translate(-12px, 0px);
  display: grid;
  place-content: center;
}
.additional-services__input-agreement input::before {
  content: "";
  width: 13px;
  height: 13px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #ffffff;
}
.additional-services__input-agreement input:checked::before {
  transform: scale(1);
}

.additional-services__icon_address {
  flex: 0 0 54px;
  height: 51px;
  background: url("../assets/icons/pointer.svg") center no-repeat;
  margin-right: 16px;
}

.additional-services__input_street {
  max-width: 524px;
  margin-right: 19px;
  padding-left: 21px;
}

.additional-services__input-house {
  max-width: 189px;
  margin-right: 19px;
  padding-left: 21px;
}

/** about-company **/
.about-company {
  height: 616px;
  background: #ffffff;
}

.about-company__container {
  padding: 76px 0;
}

.about-company__title {
  margin-bottom: 47px;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.about-company__info {
  display: flex;
  justify-content: start;
  gap: 45px;
  padding-bottom: 54px;
}

.about-company__img {
  flex: 0 1 364px;
}

.about-company__text {
  padding-top: 28px;
  max-width: 530px;
  font-size: 18px;
  line-height: 140%;
  color: #263057;
}
.about-company__text p:first-child {
  margin-bottom: 25px;
}

.news__link-button,
.about-company__link-button {
  width: 250px;
  height: 48px;
  background-color: #6984f0;
  font-size: 18px;
  margin: 0 auto;
}

/* news */
.news {
  min-height: 774px;
  padding: 102px 0 0 0;
}

.news__title {
  margin-bottom: 35px;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.news-list {
  margin-bottom: 42px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.news-list__item {
  width: 380px;
  height: 426px;
  padding: 30px 31px 39px 32px;
  background: #ffffff;
  box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.news__preview {
  width: 318px;
  height: 171px;
  margin-bottom: 27px;
}
.news__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.news__date {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #263057;
}

.news__info {
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #263057;
}

.news__more {
  position: relative;
  text-decoration: none;
  font-family: "Manrope Medium";
  font-size: 15px;
  color: #6984f0;
}
.news__more::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -14px;
  width: 12px;
  height: 8px;
  background: url("../assets/icons/arrow.svg") center no-repeat;
}

/* documents */
* {
  box-sizing: border-box;
}

body {
  font-family: "Circe";
  font-size: 14px;
  font-weight: 400;
  background: #e5e5e5;
}