@import './global';

.header {
  @extend %container;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}

.header-container {
  @extend %container-content;
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.logo {
  height: 95px;
  margin-right: 26px;
}
.logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-nav {
  flex: 1 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
}
.nav-list__item {
  margin-right: 26px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.nav-list__link {
  @extend %link;

  font-size: 18px;
  color: #263057;
}

.link-phone {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: 15px 17px;

  grid-template-areas:
    'link-phone-icon link-phone-number'
    'link-phone-icon link-phone-label';

  width: 172px;

  text-align: left;
}

.link-phone__icon {
  grid-area: link-phone-icon;

  width: 33px;
  height: 29px;
  margin-top: -4px;

  background: url('../assets/icons/phone.svg') center no-repeat;
}

.link-phone__number {
  grid-area: link-phone-number;

  margin-left: -2px;

  font-size: 17px;
  font-weight: 700;
}
.link-phone__label {
  grid-area: link-phone-label;

  margin-left: -2px;

  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.28em;
}

.nav-list__link-button {
  @extend %link-button;

  &.nav-list__link-button_color_light-blue {
    @include options(172px, 34px, 15px);
  }
  &.nav-list__link-button_color_blue {
    @include options(148px, 34px, 15px);
    background-color: $dark_button_color;
  }
}

.burger {
  display: none;
  width: 34px;
  height: 34px;

  background: url('../assets/icons/burger.svg') center/ contain no-repeat;
}

@media screen and (max-width: 1180px) {
  .header-container {
    padding: 10px 0;
  }

  .header-nav {
    flex: 1 1 auto;

    margin-left: auto;
    max-width: 580px;
  }

  .nav-list {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .nav-list__item {
    margin-bottom: 25px;

    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav-list {
    flex: 1 1 auto;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }

  .logo {
    height: 50px;
    margin-right: 10px;
  }

  .nav-list__item {
    margin-right: 0px;

    &:not(:nth-child(4)) {
      display: none;
    }
  }
  .link-phone {
    width: 150px;
    margin-right: 15px;
  }
  .link-phone__number {
    font-size: 14px;
    line-height: 21px;
  }
  .link-phone__label {
    font-size: 12px;
    line-height: 17px;
  }
  .link-phone__icon {
    width: 29px;
    height: 29px;
  }
}
