@import './global';

.showcase {
  @extend %container;
  background: linear-gradient(136.49deg, #263057 25.34%, #1d1444 89.06%);

  padding: 43px 20px;
}
.showcase-container {
  @extend %container-content;

  position: relative;

  background-color: #ffffff;
  box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  padding: 140px 500px 48px 60px;
  height: 450px;
}

.showcase__title {
  @extend %title;
}

.showcase__text {
  @extend %title;

  font-size: 44px;
  font-weight: 400;
  line-height: 83%;

  margin-bottom: 28px;
}

.showcase__link-button {
  @extend %link-button;
  @include options(222px, 47px, 20px);
  font-weight: 700;
}

.showcase__img {
  position: absolute;
  top: 0;
  right: 0;

  width: 530px;
  height: 468px;

  background: url('../assets/images/showcase_big.png') center/cover no-repeat;
}

.showcase-slider {
  position: absolute;
  bottom: 48px;
  right: calc(50% - 24px);
  z-index: 10;

  display: flex;
  justify-content: center;
  gap: 14px;

  height: 9px;
  width: 73px;
}

.showcase-slider__item {
  display: inline-block;

  width: 9px;
  height: 9px;
  background: rgba(38, 48, 87, 0.2);
  border-radius: 50%;
  cursor: pointer;

  &.showcase-slider__item_active {
    width: 28px;

    border-radius: 10px;
    background-color: $light-blue_color;
  }
}

/* ********************************* */

@media screen and (max-width: 1024px) {
  .showcase-container {
    height: 420px;
  }
  .showcase-container {
    padding: 140px 400px 48px 20px;
  }

  .showcase__img {
    top: -17px;
    width: 450px;
    height: 450px;
  }

  .showcase__title {
    font-size: 50px;
  }
  .showcase__text {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .showcase__img {
    width: 370px;
    height: 370px;
  }

  .showcase__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .showcase__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 38px 0 0 0;
    height: 537px;

    text-align: center;
  }

  .showcase__img {
    top: 35%;
    left: -14px;

    width: 300px;
    height: 346px;

    background: url('../assets/images/showcase_small.png') center/cover
      no-repeat;
  }

  .showcase-slider {
    bottom: 15px;
  }
}

/* ********************************* */

/**
Section tariffs
**/

.tariffs {
  @extend %container;

  padding: 62px 0 0;
}

.tariffs__title {
  @extend %title;

  margin-bottom: 34px;

  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.tariffs-container {
  @extend %container-content;

  position: relative;

  background: #ffffff;
  box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  height: 602px;
  padding: 52px 40px 23px 40px;
  margin-bottom: 47px;

  overflow: hidden;
}

.services {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 0 0 49px 73px;
}

.services__btn {
  position: relative;

  padding: 0;

  background: none;
  border: none;
  outline: none;

  font-family: 'Circe';
  font-size: 20px;
  line-height: 140%;
  color: $blue_color;

  &.active {
    font-weight: 700;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: -1px;

      width: 103%;
      height: 2px;
      background-color: $light-blue_color;
    }
  }
}

.services__btn_internet {
  margin-right: 82px;
}

.services__btn_cable {
  padding-right: 62px;
  margin-right: 40px;

  &::after {
    content: 'ХИТ';
    position: absolute;
    top: 3px;
    right: 1px;
    width: 25px;
    height: 18px;
    padding: 2px 10px 0px;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    background-color: #6984f0;
    border-radius: 10px;
  }
}

.services__btn_smart {
  margin-right: 52px;
}

.options {
  display: flex;
  gap: 27px;
}

.options__item {
  order: 1;

  width: 191px;
  height: 323px;

  padding: 57px 0 0 0;

  border-radius: 30px;

  color: $blue_color;

  &.active {
    position: relative;
    width: 228px;
    padding: 57px 19px 0 19px;

    color: $white_color;
    background: linear-gradient(180deg, #273158 0%, #0c244d 100%);

    & .item-options__title {
      color: $white_color;
    }
    & .item-options__details::after {
      background: url('../assets/icons/carbon_popup_white.svg');
    }

    &::before {
      content: 'ХИТ';
      position: absolute;
      top: 23px;
      left: 18px;
      width: 25px;
      height: 18px;
      padding: 2px 10px 0px;

      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: #263158;
      background-color: #fff;
      border-radius: 10px;
    }
  }
}

.item-options__title {
  @extend %title;

  font-size: 30px;
  line-height: 44px;
}

.item-options__speed {
  display: flex;
  align-items: center;
  gap: 12px;

  padding-left: 3px;

  font-weight: 700;
  font-size: 24px;
  line-height: 37px;

  &:before {
    content: '';

    width: 22px;
    height: 22px;
    background: url('../assets/icons/speed.svg');
  }
}

.item-options__details {
  display: flex;
  align-items: center;
  gap: 4px;

  padding: 14px 0 17px 0;

  font-size: 18px;

  border-bottom: 1px solid rgba(38, 48, 87, 0.2);

  &::after {
    content: '';
    width: 14px;
    height: 14px;
    background: url('../assets/icons/carbon_popup.svg');
  }
}

.item-options__price {
  padding: 17px 0 16px 0;

  font-size: 30px;
  font-weight: 700;

  span {
    font-size: 18px;
  }
}

.item-options__btn {
  @extend %button;
  @include options(191px, 35px, 18px);

  border-radius: 30px;
}

.tariffs-slider {
  display: flex;
  justify-content: center;
  gap: 14px;

  margin: 0 auto;
  padding: 37px 0 45px;
  height: 9px;
  width: 54px;
}

.tariffs-slider__item {
  width: 9px;
  height: 9px;
  background: rgba(38, 48, 87, 0.2);
  border-radius: 50%;

  cursor: pointer;

  &.active {
    background-color: $light-blue_color;
  }
}

.tariffs__link-button {
  @extend %link-button;
  @include options(264px, 45px, 18px);

  margin: 0 auto;
}

/* *********************************** */

@media screen and (max-width: 1180px) {
  .tariffs-container {
    padding: 52px 15px 23px 15px;
  }
  .tariffs__services {
    padding-left: 0;
    justify-content: center;
    gap: 25px;
  }
  .services__btn {
    margin-right: 0;
  }
  .services__btn_cable {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .tariffs__services {
    flex-wrap: wrap;
    justify-content: center;

    max-width: 600px;
    margin: 0 auto;
    padding: 0 0 20px 0;
  }
  .tariffs-container {
    padding-top: 20px;
    height: fit-content;
  }

  .options {
    gap: 17px;
  }
  .options__item {
    width: 228px;
    padding: 57px 10px 0 10px;
    border: 1px solid #142850;
  }
}

@media screen and (max-width: 768px) {
  .tariffs__title {
    font-size: 25px;
    line-height: 130%;
  }

  .tariffs__services {
    max-width: 450px;
    gap: 15px;
  }

  .services__btn {
    font-size: 14px;
  }

  .services__btn_cable::after {
    top: 0px;

    width: 20px;
    height: 15px;

    border-radius: 10px;

    font-size: 9px;
    line-height: 13px;
  }

  .options__item.active {
    order: 0;
  }

  .tariffs-slider {
    padding: 30px 0 30px;
  }
}

/* *********************************** */

.additional {
  @extend %container;

  padding: 0px 20px 32px;
}

.additional-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  width: 100%;
  max-width: 1180px;
  height: 200px;
  padding: 22px 59px 27px 79px;
  margin: 0 auto 20px auto;

  background: linear-gradient(92.37deg, #263057 29.38%, #1d1444 100.81%);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  color: $white_color;
}

.additional-services_help {
  justify-content: space-between;
  gap: 0;

  padding: 31px 59px 27px 79px;
}

.additional-services__speed-test {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
}

.additional-services__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 116%;
}

.additional-services__btn {
  @extend %button;
  @include options(221px, 48px, 18px);

  flex: 0 0 221px;

  color: $main_button_color_text;
  border-radius: 60px;
}

.additional-services__form {
  display: flex;
}

.additional-services__input {
  height: 49px;
  width: 100%;
  max-width: 390px;
  padding: 0 0 0 25px;
  margin-right: 19px;

  border-radius: 5px;

  font-size: 18px;
  color: $blue_color;

  &::placeholder {
    color: $blue_color;
  }
}

.additional-services__input_name::placeholder {
  background: url('../assets/icons/what_is_your_name.png') no-repeat;
}

.additional-services__input_phone::placeholder {
  background: url('../assets/icons/+7 (___) ___-__-__ _.png') no-repeat;
}

.additional-services__input-agreement {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 5px;

  input {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;

    width: 13px;
    height: 13px;
    background-color: inherit;
    border: 1px solid #ffffff;
    border-radius: 2px;

    transform: translate(-12px, 0px);

    display: grid;
    place-content: center;

    &::before {
      content: '';
      width: 13px;
      height: 13px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      background-color: #ffffff;
    }

    &:checked::before {
      transform: scale(1);
    }
  }
}

.additional-services__label_street {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
}

.additional-services__icon_street {
  position: relative;
  top: -3px;
  left: -2px;

  display: inline-block;
  width: 60px;
  height: 58px;
  background: url('../assets/icons/pointer.svg') center no-repeat;
  margin-right: 16px;
}

.additional-services__input_street {
  max-width: 524px;
  padding: 0px 0 0 22px;
}

.additional-services__input-house {
  max-width: 189px;
  margin-right: 19px;
  padding-left: 21px;
}

/* **************************************** */
@media screen and (max-width: 1180px) {
  .additional-services__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .additional-services {
    height: fit-content;
    padding: 31px 20px 27px 20px;
  }
  .additional-services__title {
    margin: 0 0 20px 0;

    font-size: 26px;
    text-align: center;
  }
  .additional-services__btn {
    flex: 0 0 48px;
  }
  .additional-services__speed-test,
  .additional-services__form {
    position: relative;

    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    margin: 0 0 20px 0;
    padding: 0 55px;
    min-height: 200px;
  }

  .additional-services__speed-test {
    padding: 31px 20px 27px 20px;
  }

  .additional-services__input {
    margin: 0;
  }

  .additional-services__input-agreement {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .additional-services__form {
    padding: 0;
  }

  .additional-services__label_street {
    max-width: 524px;
  }
  .additional-services__input_street {
    padding: 0px 0 0 40px;
  }

  .additional-services__icon_street {
    position: absolute;
    top: 11px;
    left: 13px;

    width: 23px;
    height: 28px;
    background: url('../assets/icons/pointer_small.svg') center no-repeat;
  }
}

@media screen and (max-width: 425px) {
  .additional-services__title {
    font-size: 20px;
    line-height: 130%;
  }

  .additional-services__input-agreement {
    justify-content: center;
  }
}
/* **************************************** */

/** about-company **/

.about-company {
  @extend %container;

  height: 616px;

  background: #ffffff;
}
.about-company__container {
  @extend %container-content;

  padding: 76px 0;
}

.about-company__title {
  @extend %title;

  margin-bottom: 45px;

  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.about-company__info {
  display: flex;
  justify-content: start;
  gap: 45px;

  padding-bottom: 54px;
}

.about-company__img {
  flex: 0 1 364px;
}

.about-company__text {
  padding-top: 28px;

  max-width: 530px;

  font-size: 18px;
  line-height: 140%;
  color: $blue_color;

  p:first-child {
    margin-bottom: 25px;
  }
}
.documents__link-button,
.news__link-button,
.about-company__link-button {
  @extend %link-button;
  @include options(250px, 48px, 18px);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .about-company {
    height: fit-content;
  }

  .about-company__text {
    padding-top: 0;
  }
  .about-company__img {
    min-width: 360px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-company__container {
    padding: 35px 0;
  }
  .about-company__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    padding-bottom: 20px;
  }
  .about-company__text {
    max-width: 100%;
  }

  .about-company__img {
    flex: 1 1 auto;
    min-width: 260px;
  }
}

@media screen and (max-width: 425px) {
  .about-company__title {
    margin-bottom: 20px;

    font-size: 25px;
    line-height: 130%;
  }
  .about-company__text {
    font-size: 14px;
    line-height: 140%;
  }
}

/* news */

.news {
  @extend %container;

  height: 774px;
  padding: 102px 20px 0 20px;
}
.news__container {
  @extend %container-content;
}

.news__title {
  @extend %title;

  margin-bottom: 35px;

  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.news-list {
  margin-bottom: 40px;

  display: flex;
  justify-content: flex-start;
  gap: 20px;

  overflow-x: hidden;
}

.news-list__item {
  width: 380px;
  height: 426px;

  padding: 30px 31px 39px 32px;

  background: #ffffff;
  box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.news__preview {
  width: 318px;
  height: 171px;
  margin-bottom: 27px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.news__date {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $blue_color;
}
.news__info {
  margin-bottom: 31px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: $blue_color;
}

.news__more {
  position: relative;
  text-decoration: none;
  font-family: 'Manrope Medium';
  font-size: 15px;
  color: $light-blue_color;

  &::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -14px;

    width: 12px;
    height: 8px;

    background: url('../assets/icons/arrow.svg') center no-repeat;
  }
}

.news-slider {
  display: none;
  justify-content: center;
  gap: 14px;

  margin: 0 auto;
  padding: 20px 0 20px;
  width: 54px;
}

.news-slider__item {
  width: 9px;
  height: 9px;
  background: rgba(38, 48, 87, 0.2);
  border-radius: 50%;

  cursor: pointer;

  &.active {
    background-color: $light-blue_color;
  }
}

/* *********************************** */

@media screen and (max-width: 768px) {
  .news {
    padding: 40px 20px 40px 20px;
    height: fit-content;
  }
}
@media screen and (max-width: 425px) {
  .news-list {
    margin-bottom: 0;
  }
  .news__title {
    font-size: 25px;
    line-height: 130%;
  }

  .news-list__item {
    width: 321px;
    height: 364px;
    padding: 20px;
  }
  .news__preview {
    width: 278px;
    height: 149px;
    margin-bottom: 15px;
  }
  .news__info {
    margin-bottom: 20px;
  }

  .news-slider {
    display: flex;
  }
}
/* *********************************** */

/* documents */

.documents {
  @extend %container;

  min-height: 459px;
  background-color: #ffffff;
}
.documents__container {
  @extend %container-content;

  padding: 63px 0 27px 0;
}

.documents__title {
  @extend %title;

  margin-bottom: 48px;

  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.documents-list {
  display: flex;
  align-items: center;

  min-height: 153px;
  margin-bottom: 40px;
  padding: 0px 37px;

  background: #f1f2f4;
  border-radius: 15px;
}

.documents-list__item {
  display: flex;
  align-items: center;
  gap: 18px;

  margin-right: 90px;

  &:nth-child(2) {
    margin-right: 112px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.documents__icon {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  background: #fff url('../assets/icons/doc.svg') center no-repeat;
}

.documents__name {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: $blue_color;
}

/* *********************************** */
@media screen and (max-width: 1180px) {
  .documents-list {
    justify-content: center;
  }
  .documents-list__item {
    flex: 1 1 auto;
    margin-right: 15px;

    &:nth-child(2) {
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .documents__container {
    padding: 30px 0 30px 0;
  }
  .documents__title {
    margin-bottom: 30px;
  }

  .documents-list {
    flex-direction: column;
    gap: 20px;

    max-width: 700px;
    margin: 0 auto 30px;
    padding: 0;
    background: inherit;
  }

  .documents-list__item {
    width: 100%;
    padding: 10px 20px;
    background: #f1f2f4;
    border-radius: 15px;
    margin-right: 0;
    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 425px) {
  .documents__container {
    padding: 40px 0 40px 0;
  }
  .documents__title {
    margin-bottom: 15px;

    font-size: 25px;
    line-height: 130%;
  }
  .documents-list {
    margin-bottom: 20px;
  }
  .documents__icon {
    width: 44px;
    height: 44px;

    background-size: 50%;
  }

  .documents__name {
    font-size: 14px;
    line-height: 26px;
  }
}
/* *********************************** */

/* partners */

.partners {
  @extend %container;

  min-height: 380px;
}

.partners__container {
  @extend %container-content;

  padding: 79px 0 27px 0;
}

.partners__title {
  @extend %title;

  margin-bottom: 44px;

  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.partners-slider {
  position: relative;

  padding: 0 51px;

  overflow-x: hidden;
}

.partners-slider__wrap {
  display: flex;
  align-items: center;
  justify-content: start;

  width: 1180px;
}

.partners-slider__arrow {
  position: absolute;
  top: 27px;

  width: 40px;
  height: 40px;

  cursor: pointer;

  &.partners-slider__arrow_left {
    left: 0;
    background: url('../assets/icons/arrow_left.svg') center no-repeat;
    margin-right: 10px;
  }
  &.partners-slider__arrow_right {
    right: 0;
    background: url('../assets/icons/arrow_right.svg') center no-repeat;
    margin-left: 10px;
  }
}

.partners-slider__item {
  display: flex;
  justify-content: center;

  width: 243px;
  height: 100px;

  background: #ffffff;
  border-radius: 15px;

  margin-right: 36px;

  img {
    width: 100%;

    object-fit: contain;
  }

  &.partners-slider__item_smotroshka {
    padding: 12px 25px 20px 20px;
  }

  &.partners-slider__item_sberbank {
    padding: 15px 19px 20px 14px;
  }

  &.partners-slider__item_on-life {
    padding: 19px 20px 20px 17px;
  }

  &.partners-slider__play-room {
    padding: 19px 22px 20px 20px;
    margin-right: 0px;
  }
}

.partners-slider-control {
  display: flex;
  justify-content: center;
  gap: 14px;

  margin: 0 auto;
  padding: 35px 0 45px;
  height: 9px;
  width: 50px;
}

.partners-slider-control__item {
  width: 8px;
  height: 8px;
  background: rgba(38, 48, 87, 0.2);
  border-radius: 50%;

  cursor: pointer;

  &.active {
    background-color: $light-blue_color;
  }
}

/* ******************************** */

@media screen and (max-width: 1024px) {
  .partners {
    padding: 0;
  }
  .partners-slider {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 425px) {
  .partners-slider__item {
    margin-right: 50px;
  }
}
/* ******************************** */
