@import './templates';

.showcase {
  @extend %container;
  background: linear-gradient(136.49deg, #263057 25.34%, #1d1444 89.06%);

  padding: 43px 100px;
}
.showcase-container {
  @extend %container-content;

  position: relative;

  background: #ffffff;
  box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  padding: 140px 0 48px 60px;
  height: 450px;
}

.showcase__title {
  @extend %title;
}

.showcase__text {
  @extend %title;

  font-size: 44px;
  font-weight: 400;

  margin-bottom: 28px;
}

.showcase__link-button {
  @extend %link-button;
  @include options(222px, 47px, $light-blue_color, 20px);
  font-weight: 700;
}

.showcase__img {
  position: absolute;
  top: 0;
  right: 0;

  width: 530px;
  height: 468px;

  background: url('../assets/images/showcase_big.png') center no-repeat;
}

.showcase-slider {
  position: absolute;
  bottom: 48px;
  right: calc(50% - 24px);
  z-index: 10;

  display: flex;
  justify-content: center;
  gap: 14px;

  height: 9px;
  width: 73px;
}

.showcase-slider__item {
  display: inline-block;

  width: 9px;
  height: 9px;
  background: rgba(38, 48, 87, 0.2);
  border-radius: 50%;
  cursor: pointer;

  &.showcase-slider__item_active {
    width: 28px;

    border-radius: 10px;
    background-color: $light-blue_color;
  }
}

/**
Section tariffs
**/

.tariffs {
  @extend %container;

  padding: 62px 100px 32px;
}

.tariffs__title {
  @extend %title;

  margin-bottom: 34px;

  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.tariffs-container {
  @extend %container-content;

  position: relative;

  background: #ffffff;
  box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  height: 602px;
  padding: 52px 40px 23px 40px;
  margin-bottom: 47px;
}

.services {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 0 0 49px 73px;
}

.services__btn {
  position: relative;

  padding: 0;

  background: none;
  border: none;
  outline: none;

  font-family: 'Circe';
  font-size: 20px;
  line-height: 140%;
  color: $blue_color;

  &.active {
    font-weight: 700;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: -1px;

      width: 103%;
      height: 2px;
      background-color: $light-blue_color;
    }
  }
}

.services__btn_internet {
  margin-right: 82px;
}

.services__btn_cable {
  margin-right: 102px;

  &::before {
    content: 'ХИТ';
    position: absolute;
    top: 3px;
    right: -60px;
    width: 25px;
    height: 18px;
    padding: 2px 10px 0px;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    background-color: #6984f0;
    border-radius: 10px;
  }
}

.services__btn_smart {
  margin-right: 52px;
}

.options {
  display: flex;
  gap: 27px;
}

.options__item {
  width: 191px;
  height: 323px;

  padding: 57px 0 0 0;

  border-radius: 30px;

  color: $blue_color;

  &.active {
    position: relative;
    width: 228px;
    padding: 57px 19px 0 19px;

    color: $white_color;
    background: linear-gradient(180deg, #273158 0%, #0c244d 100%);

    & .item-options__title {
      color: $white_color;
    }
    & .item-options__details::after {
      background: url('../assets/icons/carbon_popup_white.svg');
    }

    &::before {
      content: 'ХИТ';
      position: absolute;
      top: 23px;
      left: 18px;
      width: 25px;
      height: 18px;
      padding: 2px 10px 0px;

      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: #263158;
      background-color: #fff;
      border-radius: 10px;
    }
  }
}

.item-options__title {
  @extend %title;

  font-size: 30px;
  line-height: 44px;
}

.item-options__speed {
  display: flex;
  align-items: center;
  gap: 12px;

  padding-left: 3px;

  font-weight: 700;
  font-size: 24px;
  line-height: 37px;

  &:before {
    content: '';

    width: 22px;
    height: 22px;
    background: url('../assets/icons/speed.svg');
  }
}

.item-options__details {
  display: flex;
  align-items: center;
  gap: 4px;

  padding: 14px 0 17px 0;

  font-size: 18px;

  border-bottom: 1px solid rgba(38, 48, 87, 0.2);

  &::after {
    content: '';
    width: 14px;
    height: 14px;
    background: url('../assets/icons/carbon_popup.svg');
  }
}

.item-options__price {
  padding: 17px 0 16px 0;

  font-size: 30px;
  font-weight: 700;

  span {
    font-size: 18px;
  }
}

.item-options__btn {
  @extend %button;
  @include options(191px, 35px, $light-blue_color, 18px);

  color: $white_color;
  border-radius: 30px;
}

.tariffs-slider {
  display: flex;
  justify-content: center;
  gap: 14px;

  margin: 0 auto;
  padding: 37px 0 45px;
  height: 9px;
  width: 54px;
}

.tariffs-slider__item {
  width: 9px;
  height: 9px;
  background: rgba(38, 48, 87, 0.2);
  border-radius: 50%;

  cursor: pointer;

  &.active {
    background-color: $light-blue_color;
  }
}

.tariffs__link-button {
  @extend %link-button;
  @include options(264px, 45px, $light-blue_color, 18px);

  margin: 0 auto;
}

.additional-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  height: 200px;
  padding: 22px 59px 27px 79px;
  margin-bottom: 20px;

  background: linear-gradient(92.37deg, #263057 29.38%, #1d1444 100.81%);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  color: $white_color;

  &.additional-services_help {
    justify-content: space-between;
    gap: 0;

    padding: 31px 59px 27px 79px;
  }

  &.additional-services__speed-test {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
  }
}

.additional-services__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 116%;
}

.additional-services__btn {
  @extend %button;
  @include options(221px, 48px, $light-blue_color, 18px);

  color: $white_color;
  border-radius: 60px;
}

.additional-services__form {
  display: flex;
}

.additional-services__input {
  height: 49px;
  width: 100%;
  max-width: 390px;
  padding: 0 0 0 25px;
  margin-right: 19px;

  border-radius: 5px;

  font-size: 18px;
  color: $blue_color;
}

.additional-services__input_name::placeholder {
  background: url('../assets/icons/what_is_your_name.png') no-repeat;
}

.additional-services__input_phone::placeholder {
  background: url('../assets/icons/+7 (___) ___-__-__ _.png') no-repeat;
}

.additional-services__input-agreement {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 5px;

  input {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;

    width: 13px;
    height: 13px;
    background-color: inherit;
    border: 1px solid #ffffff;
    border-radius: 2px;

    transform: translate(-12px, 0px);

    display: grid;
    place-content: center;

    &::before {
      content: '';
      width: 13px;
      height: 13px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      background-color: #ffffff;
    }

    &:checked::before {
      transform: scale(1);
    }
  }
}

.additional-services__icon_address {
  flex: 0 0 54px;

  height: 51px;
  background: url('../assets/icons/pointer.svg') center no-repeat;
  margin-right: 16px;
}

.additional-services__input_street {
  max-width: 524px;
  margin-right: 19px;
  padding-left: 21px;
}

.additional-services__input-house {
  max-width: 189px;
  margin-right: 19px;
  padding-left: 21px;
}

/** about-company **/

.about-company {
  @extend %container;

  height: 616px;

  background: #ffffff;
}
.about-company__container {
  @extend %container-content;

  padding: 76px 0;
}

.about-company__title {
  @extend %title;

  margin-bottom: 47px;

  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.about-company__info {
  display: flex;
  justify-content: start;
  gap: 45px;

  padding-bottom: 54px;
}

.about-company__img {
  flex: 0 1 364px;
}

.about-company__text {
  padding-top: 28px;

  max-width: 530px;

  font-size: 18px;
  line-height: 140%;
  color: $blue_color;

  p:first-child {
    margin-bottom: 25px;
  }
}

.news__link-button,
.about-company__link-button {
  @extend %link-button;
  @include options(250px, 48px, $light-blue_color, 18px);
  margin: 0 auto;
}

/* news */

.news {
  @extend %container;

  min-height: 774px;
  padding: 102px 0 0 0;
}
.about-company__container {
  @extend %container-content;
}

.news__title {
  @extend %title;

  margin-bottom: 35px;

  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.news-list {
  margin-bottom: 42px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.news-list__item {
  width: 380px;
  height: 426px;

  padding: 30px 31px 39px 32px;

  background: #ffffff;
  box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.news__preview {
  width: 318px;
  height: 171px;
  margin-bottom: 27px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.news__date {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $blue_color;
}
.news__info {
  margin-bottom: 31px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: $blue_color;
}

.news__more {
  position: relative;
  text-decoration: none;
  font-family: 'Manrope Medium';
  font-size: 15px;
  color: $light-blue_color;

  &::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -14px;

    width: 12px;
    height: 8px;

    background: url('../assets/icons/arrow.svg') center no-repeat;
  }
}

/* documents */
