$light-blue_color: #6984f0;
$blue_color: #263057;

$title_color: #253058;
$white_color: #ffffff;
$grey_color: #e5e5e5;

%container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px;
}

%container-content {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

%link {
  text-decoration: none;
}

%link-button {
  @extend %link;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  border-radius: 30px;

  &:hover {
    opacity: 0.8;
  }
}

%button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

%title {
  font-size: 62px;
  line-height: 88%;
  font-weight: 700;
  color: $title_color;
}

@mixin options($w, $h, $bc, $fs) {
  width: $w;
  height: $h;
  background-color: $bc;
  font-size: $fs;
}
