@import './fonts';
@import './reset';

@import './header';
@import './footer';
@import './main';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Circe';
  font-size: 14px;
  font-weight: 400;

  background: #e5e5e5;
}
